In [15]:
import pandas as pd 

df=pd.read_csv('task.csv')
df=pd.DataFrame(df)
df.head(5)

       Name  Age
0     Aslam   20
1    Kaviya   20
2     Akash   20
3     Suman   21
4  Shashank   22

In [14]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Age     8 non-null      int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

            Age
count   8.00000
mean   21.87500
std     1.95941
min    20.00000
25%    20.00000
50%    21.50000
75%    23.25000
max    25.00000